# Python virtual environment
venv/
env/
.venv/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Datasets (Rất nặng, không push lên Git)
data/
*.zip
*.tar.gz

# Ảnh
*.jpg
*.jpeg
*.png
*.gif
*.svg
*.webp
*.bmp
*.ico

# Trained Models (Những file quá lớn)
runs/
*.pth

# IDE config
.vscode/
.idea/

# Streamlit config
.streamlit/
